a{
    text-decoration: none;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}

footer{
    background: white;
}
